<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Blueflap.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <Blueflap.My.MySettings>
            <setting name="Moteur" serializeAs="String">
                <value>http://www.google.fr/#hl=fr&amp;sclient=psy-ab&amp;q=</value>
            </setting>
            <setting name="NomMoteur" serializeAs="String">
                <value>Google</value>
            </setting>
            <setting name="home" serializeAs="String">
                <value>http://www.strikingly.com/blueflap</value>
            </setting>
            <setting name="Réduit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MP" serializeAs="String">
                <value />
            </setting>
            <setting name="actif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Verr_def" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SF1" serializeAs="String">
                <value>Google</value>
            </setting>
            <setting name="SF2" serializeAs="String">
                <value>Bing</value>
            </setting>
            <setting name="a" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="b" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="d" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="e" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="f" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Touchkeyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Winstata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mouses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mousess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sombre" serializeAs="String">
                <value>Date : Dark</value>
            </setting>
            <setting name="clair" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="startou" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="modern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemoTitle" serializeAs="String">
                <value>Title of the Post-It</value>
            </setting>
            <setting name="MemoContent" serializeAs="String">
                <value>Contents of the Post-It</value>
            </setting>
            <setting name="Bookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.strikingly.com/blueflap</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Historique" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>about:blank</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Blueflap.My.MySettings>
    </userSettings>
</configuration>
